/*  CSS Document                             */
/*  Ryan McHenry 2/13/2014 Develonaut.com  */


/* Global Area */

blockquote.pull-right {
    padding: 11px 15px 0px 25px;
    border: none; margin: 0px 0px 25px 25px;
    background: url(../images/quotes_begin.png) no-repeat 20px 0px;
}
blockquote.pull-right p {
    padding: 0px 35px 20px 30px;
    background: url(../images/quotes_end.png) no-repeat right bottom;
}
blockquote.pull-right small {
    margin: 0px 35px 0px 0px;
}

.footer {
    font-size: .85em;
}
.footer.span12 {
    border-top: 1px solid #ddd;
    margin-top: 20px; padding-top:
    10px; padding-bottom: 25px;
}
.footer .links {
    text-align: right;
}
.footer .links a {
    margin: 0px 0px 0px 20px;
}

.promos {
    padding: 10px 0px 35px 0px;
}
.promo {
    padding: 0px 0px 0px 90px;
    min-height: 75px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.promo-1 {
    background-image: url(../images/promo_01.jpg);
}
.promo-2 {
    background-image: url(../images/promo_02.jpg);
}
.promo-3 {
    background-image: url(../images/promo_03.jpg);
}

.banner a.logo {
    border: none;
    width: 115px;
    height: 70px;
    margin-top: 3px; /*This orignally was not there, if problems occur delete this margin attribute*/
    display: inline-block;
    background: url(../images/logo.png) no-repeat 0px 0px;
}


ul.nav {
    padding-top: 20px;
}
ul.nav li.dropdown-menu {
    margin-top: -1px;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.icon-phone {
    background-position: 0px -140px ;
}

body { background:  #723106 url(../images/pattern_tile.gif);
}

.container { background-color: #fff; padding: 10px 20px 10px 20px; }


.carousel-container { position: relative; }
.carousel-container .carousel-caption { border-top: 1px solid #fff; }
.carousel-container .carousel-image { width: 100%; background-position: no-repeat 0px 0px; }
.carousel-container .carousel-image.image-01 { height: 350px; background: url(../images/carousel_photo_01_large.jpg); }
.carousel-container .carousel-image.image-02 { height: 350px; background: url(../images/carousel_photo_02_large.jpg); }
.carousel-container .carousel-image.image-03 { height: 350px; background: url(../images/carousel_photo_03_large.jpg); }

.carousel-container .carousel-control { top: 40%; opacity: 0.4; }
.carousel-container .carousel-control:hover { opacity: 0.75; filter: alpha(opacity=75); }


#left-arrow-button {
    background-image: url("../images/arrow_left.png");
    z-index: 1000;
    margin-top: 22%;
    margin-left: 28%;
    height: 22px;
    width: 19px;
}

#right-arrow-button {
    background-image: url("../images/arrow_right.png");
    z-index: 1000;
    margin-top: 22%;
    margin-left: 23%;
    height: 22px;
    width: 19px;

}

.header-search { width: 300px; text-align: right; position: absolute; top: 20px; right: 20px; }
.header-search .input-append { width: 300px; }
.header-search .input-append input { display: inline; width: 110px; margin-right: -4px; background-color: rgba(255,255,255,.75); color: #000; border: 1px solid #fff; }
.header-search .input-append button { border: 1px solid #fff; }

.header-search .input-append i { opacity: .5;}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .footer .links {
        text-align: left;
        margin-top: 15px;
    }
    .footer .links a {
        margin: 0px 20px 0px 0px;
    }
    .promo {
        border-top: 1px solid #ddd;
        padding-top: 10px; background-position: 0px 10px;
    }
    .promos div:first-child div {
        border: none;
    }
    ul.nav { padding-top: 0px;
    }
    ul.nav li.dropdown: ul.dropdown-menu {
        display: block;
    body {
        background: none;
    }

    .container { background-color: #fff; padding: 10px 0px 10px 0px; }
    .carousel-container .carousel-image.image-01 { height: 275px; background: url(../images/carousel_photo_01_medium.jpg); }
    .carousel-container .carousel-image.image-02 { height: 275px; background: url(../images/carousel_photo_02_medium.jpg); }
    .carousel-container .carousel-image.image-03 { height: 275px; background: url(../images/carousel_photo_03_medium.jpg); }

}




/* Landscape phones and down */
@media (max-width: 600px) {
        .banner a.logo {
        width: 95px;
        height: 40px;
        background: url(../images/logo_small.png) no-repeat 0px 0px;
        }

    .carousel-container .carousel-image.image-01 { height: 200px; background: url(../images/carousel_photo_01_small.jpg); }
    .carousel-container .carousel-image.image-02 { height: 200px; background: url(../images/carousel_photo_02_small.jpg); }
    .carousel-container .carousel-image.image-03 { height: 200px; background: url(../images/carousel_photo_03_small.jpg); }

}
 

/* Large desktop */
@media (min-width: 1200px) {

    .promo {
        padding: 0px 20px 0px 110px;
    }
    .promos div:last-child div {
        padding-right: 0px;
    }


}


